services:
  ffmpeg-converter:
    image: registry.cn-beijing.aliyuncs.com/catch-public/ffmpeg-converter:1.0.0
    container_name: ffmpeg-converter
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "2.0"
          memory: 2G
        reservations:
          cpus: "0.5"
          memory: 256M
    volumes:
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"
      - ./input:/app/input
      - ./processing:/app/processing
      - ./output:/app/output
      - ./logs:/app/logs
    environment:
      - FFMPEG_THREADS=2
      - CRF=20
      - POLL_INTERVAL=5
