name: Schedule

on:
  workflow_dispatch:
  # push:
  #   branches: [main]
  schedule:
    # UTC时间星期日18点（北京时间是 UTC+8，即北京时间每周日早上 2 点）
    - cron: '0 18 * * 0'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - id: set-matrix
        run: |
          IMAGES=$(grep -v '^#' schedule.txt | grep -v '^[[:space:]]*$' | jq -R -s -c 'split("\n")[:-1]')
          echo "matrix=${IMAGES}" >> $GITHUB_OUTPUT

  push:
    needs: prepare
    uses: ./.github/workflows/push-images.yaml
    with:
      images: ${{ needs.prepare.outputs.matrix }}
    secrets: inherit
